body {
    display: flex;
    padding: 10px 30px 20px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.38) -13.06%, #D0CACA 44.63%, #F3F2F2 108.61%);
}

.header {
	display: flex;
    width: 60vw;
    flex-direction: row;
    justify-content: left;
}

.logo {  
    margin-left: -20px;
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 120px;
    }

.name {
    margin-left: 200px;
    width: 600px;
    height: 75px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 20px;
    border: 3px solid #FFF;
    background: rgba(217, 217, 217, 0.00);
}

.name {
    padding-top: 10px;
    color: #FFFFFF;
    text-align: center;
    font-family: Arial;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
   }

.main {
    display: flex;
    align-items: center;
    width: 60vw;
    flex-direction: column;
    justify-content: center;
    }

.row {
    width: 1050px;
    height: 300px;
    margin: 3%;
    margin-bottom: 0px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.previous {
    width: 120px;
    height: 40px;
    margin: 3%;
    text-align: center;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.previous a {
    font-family: Arial;
    color: #000000;
    text-decoration: none;
    line-height: 40px;
    
}